body { 
	background: url(../images/goalbackground.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
}

h1 {
	padding: 25px;
}

p {
	padding-top: 20px;
	padding-bottom: 20px;
}

.answer {
	font-weight: 900;
}

img {
	margin-bottom: 20px;
	/* box-shadow: 10px 10px 25px -5px #0000ff; */
	box-shadow: 10px 10px 25px #8c8cff;
}

#timer {
	font-weight: 900;
	color: red
}

#start {
	color: #0000ff;
	font-size: 80px;
	font-weight: 400;
	padding: 150px 0 150px 0;
}

.choices {
	text-align: center;
	background-color: white; 
	margin: 0 35%;
	padding-bottom: 20px;
}

.choices:hover {
	background-color: red;
	color: white
}

#gameScreen {
	text-align: center;
	background-color: white;
	border-width: medium;
	border-color: #0000ff;
    /* opacity: .7; */
}   
